* {
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
}

#popup {
    border: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    max-width: 600px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}

.leaflet-popup-content-wrapper {
    /* border: 2px solid black; */
    max-height: 250px;
    max-width: 675px;
    font-family: Roboto, Arial, sans-serif;
    box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.leaflet-popup-tip {
    display: none;
    z-index: -1;
}